# Core Web Framework
flask
flask-cors
python-dotenv

# PDF & OCR
pypdf
pdf2image
pytesseract

# Text Utilities
langdetect

# AI Integrations
huggingface_hub
langchain
langchain-community
langchain-core
langchain-groq
langchain-ollama

# Vector DB
faiss-cpu

# Optional (for Groq/OpenAI etc. if needed)
openai

#google-generative-ai
google-generativeai

# for case_finder
flask
google-generativeai
beautifulsoup4
requests
python-dotenv
